@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, /Users/tombyers/Documents/repos/alphas/node-alpha/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/_shims.scss */
article .info-notice:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

/* Cross-browser shims

  Ways of normalising properties across browsers.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/* Usage:
   @include inline-block

   or

   @include inline-block("250px")

   which gives a min-height to the inline-block elements.
*/
/* Contain floats usage:

   .this-has-floated-children {
     @extend %contain-floats;
   }

*/
/* line 49, /Users/tombyers/Documents/repos/alphas/node-alpha/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/design-patterns/../_shims.scss */
article .info-notice:after {
  content: "";
  display: block;
  clear: both;
}

/* CSS 3 Mixins

  Add them as you need them. This should let us manage vendor prefixes in one place.
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

/*

Mixin and defaults for making buttons on GOV.UK services.

For guidance, see: https://www.gov.uk/service-manual/design-and-content/resources/buttons.html

Example usage:

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}
.button-warning{
  @include button($red);
}

*/
/* GOV.UK mainstream styles, from either of:
https://github.com/alphagov/static
https://github.com/alphagov/frontend

/* Taken from (whole file):
https://github.com/alphagov/static/blob/master/app/assets/stylesheets/fonts.scss
*/
/* The below comment needs a ! so that the copyright message doesn't get removed during the minification step. See: http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#comments */
/* Copyright (c) 2011 by Margaret Calvert & Henrik Kubel. All rights reserved. The font has been customised for exclusive use on gov.uk. This cut is not commercially available. */
@font-face {
  font-family: 'nta';
  src: asset_data_url("NTA-Light-20130221.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nta';
  src: asset_data_url("NTA-Bold-20130221.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_data_url("NTATabularNumbers-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ntatabularnumbers';
  src: asset_data_url("NTATabularNumbers-Bold.woff") format("woff");
  font-weight: bold;
}

/* Taken from:
https://github.com/alphagov/static/blob/master/app/assets/stylesheets/core.scss
*/
/* line 23, application.scss */
main#content {
  margin: 0 auto;
  max-width: auto;
  position: relative;
  display: block;
}
@media (min-width: 641px) {
  /* line 23, application.scss */
  main#content {
    max-width: 1020px;
  }
}

/* Taken from:
https://github.com/alphagov/static/blob/master/app/assets/stylesheets/text.scss

As viewed on:
https://www.gov.uk/get-a-child-passport
*/
/* line 45, application.scss */
article li {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  margin-left: 16px;
  padding-left: 0;
}
@media (max-width: 640px) {
  /* line 45, application.scss */
  article li {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (min-width: 641px) {
  /* line 45, application.scss */
  article li {
    margin: 0.25em 0;
    padding-left: 0.3em;
  }
}

/* line 56, application.scss */
article ul, article ol {
  padding-left: 0;
  margin-left: 0;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
@media (min-width: 641px) {
  /* line 56, application.scss */
  article ul, article ol {
    padding-left: 1em;
  }
}

/* line 67, application.scss */
article ul {
  list-style-type: circle;
  list-style-image: url("/assets/images/bullet-disc-5px.gif");
}

/* line 72, application.scss */
article ol {
  list-style-type: decimal;
}

/* Taken from:
https://github.com/alphagov/static/blob/master/app/assets/stylesheets/text.scss

As viewed on
https://www.gov.uk/apply-gender-recognition-certificate/applying-to-the-gender-recognition-panel
*/
/* line 82, application.scss */
article ol.steps {
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
}
/* line 87, application.scss */
article ol.steps > li {
  background-position: 0 0.87em;
  background-repeat: no-repeat;
  list-style-type: decimal;
  margin-left: 0;
  padding: 0.75em 0 0.75em 2.2em;
}
/* line 95, application.scss */
article ol.steps > li:nth-child(1) {
  background-image: url("/assets/images/icon-step-1.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(1) {
    background-image: image-url("icon-step-1-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(2) {
  background-image: url("/assets/images/icon-step-2.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(2) {
    background-image: image-url("icon-step-2-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(3) {
  background-image: url("/assets/images/icon-step-3.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(3) {
    background-image: image-url("icon-step-3-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(4) {
  background-image: url("/assets/images/icon-step-4.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(4) {
    background-image: image-url("icon-step-4-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(5) {
  background-image: url("/assets/images/icon-step-5.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(5) {
    background-image: image-url("icon-step-5-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(6) {
  background-image: url("/assets/images/icon-step-6.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(6) {
    background-image: image-url("icon-step-6-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(7) {
  background-image: url("/assets/images/icon-step-7.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(7) {
    background-image: image-url("icon-step-7-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(8) {
  background-image: url("/assets/images/icon-step-8.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(8) {
    background-image: image-url("icon-step-8-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(9) {
  background-image: url("/assets/images/icon-step-9.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(9) {
    background-image: image-url("icon-step-9-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(10) {
  background-image: url("/assets/images/icon-step-10.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(10) {
    background-image: image-url("icon-step-10-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(11) {
  background-image: url("/assets/images/icon-step-11.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(11) {
    background-image: image-url("icon-step-11-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(12) {
  background-image: url("/assets/images/icon-step-12.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(12) {
    background-image: image-url("icon-step-12-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(13) {
  background-image: url("/assets/images/icon-step-13.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(13) {
    background-image: image-url("icon-step-13-2x.png");
    background-size: 24px 24px;
  }
}
/* line 95, application.scss */
article ol.steps > li:nth-child(14) {
  background-image: url("/assets/images/icon-step-14.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 95, application.scss */
  article ol.steps > li:nth-child(14) {
    background-image: image-url("icon-step-14-2x.png");
    background-size: 24px 24px;
  }
}

/* Taken from:
https://github.com/alphagov/static/blob/master/app/assets/stylesheets/text.scss#L585

As viewed on
https://www.gov.uk/apply-gender-recognition-certificate/applying-to-the-gender-recognition-panel
*/
/* line 117, application.scss */
article .application-notice {
  padding: 0.1em 0 0.1em 1em;
  margin: 1em 0 1.5em 0;
}
@media (min-width: 641px) {
  /* line 117, application.scss */
  article .application-notice {
    margin: 0;
  }
}

/* line 126, application.scss */
article .info-notice {
  background: none;
  border-left: 10px #dee0e2 solid;
  margin-bottom: 1em;
}

/* line 133, application.scss */
article .help-notice {
  background: none;
  background: url("/assets/images/icon-important.png") no-repeat scroll 0 0.5em;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* line 133, application.scss */
  article .help-notice {
    background-image: url("/assets/images/icon-important-2x.png");
    background-size: 34px 34px;
  }
}
/* line 142, application.scss */
article .help-notice p {
  font-weight: 600;
}
/* line 145, application.scss */
article .help-notice p a {
  font-weight: 600;
}

/* line 151, application.scss */
article .help-notice p {
  padding: 0 1em 0 2em;
}

/* line 156, application.scss */
article p + .help-notice,
article p + .info-notice {
  margin-top: 2em;
}

/* line 160, application.scss */
article .info-notice a[rel="external"] {
  display: inline;
}

/* Taken from:
https://github.com/alphagov/static/blob/master/app/assets/stylesheets/text.scss

As viewed on:
https://www.gov.uk/bank-holidays
*/
/* line 170, application.scss */
article table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0 2em 0;
  width: 100%;
}
/* line 176, application.scss */
article table caption {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
  margin: 0.4em 0.5em 0.4em 0.7em;
  text-align: left;
  padding-left: 0;
}
@media (max-width: 640px) {
  /* line 176, application.scss */
  article table caption {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (min-width: 641px) {
  /* line 170, application.scss */
  article table {
    margin: 1em -1em 2em -1em;
    width: 105.95%;
  }
}

/* line 189, application.scss */
article th, article td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
  vertical-align: top;
  padding: 0.7em 0.5em 0.7em 1em;
}
@media (max-width: 640px) {
  /* line 189, application.scss */
  article th, article td {
    font-size: 14px;
    line-height: 1.14286;
  }
}
/* line 320, /Users/tombyers/Documents/repos/alphas/node-alpha/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/_typography.scss */
article th a[rel="external"]:after, article td a[rel="external"]:after {
  content: "\A0\A0\A0\A0\A0";
  background-position: right 1px;
}
/* line 329, /Users/tombyers/Documents/repos/alphas/node-alpha/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/_typography.scss */
article th a[rel="external"]:hover:after, article td a[rel="external"]:hover:after {
  background-position: right -387px;
}
@media (min-width: 641px) {
  /* line 320, /Users/tombyers/Documents/repos/alphas/node-alpha/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/_typography.scss */
  article th a[rel="external"]:after, article td a[rel="external"]:after {
    content: "\A0\A0\A0\A0\A0";
    background-position: right 3px;
  }
  /* line 329, /Users/tombyers/Documents/repos/alphas/node-alpha/node_modules/govuk_frontend_toolkit/govuk_frontend_toolkit/stylesheets/_typography.scss */
  article th a[rel="external"]:hover:after, article td a[rel="external"]:hover:after {
    background-position: right -385px;
  }
}

/* line 202, application.scss */
article tr:nth-child(even) td {
  background-color: #fff;
}

/* line 206, application.scss */
article td {
  background: #EAEDEF;
  border: dotted 1px #b8c6cc;
}
/* line 210, application.scss */
article td small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 300;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 210, application.scss */
  article td small {
    font-size: 14px;
    line-height: 1.14286;
  }
}

@media screen and (max-width: 320px) {
  /* line 216, application.scss */
  article th, article td, article td small {
    font-size: 10px;
  }
}
/* line 221, application.scss */
article th {
  line-height: 1.25em;
  text-align: left;
  color: #0B0C0C;
  font-weight: 700;
  background-color: #DEE0E2;
  border: solid 1px #a1acb2;
}

/* Styles local to this prototype */
/* line 232, application.scss */
p {
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
}
@media (max-width: 640px) {
  /* line 232, application.scss */
  p {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 237, application.scss */
article,
header.page-header {
  margin: 0 32px;
}

/* line 241, application.scss */
header.page-header {
  padding-top: 1em;
  padding-bottom: 2em;
}
/* line 245, application.scss */
header.page-header h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 48px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-weight: 700;
}
@media (max-width: 640px) {
  /* line 245, application.scss */
  header.page-header h1 {
    font-size: 32px;
    line-height: 1.09375;
  }
}

/* line 250, application.scss */
article h1 {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  font-weight: 600;
}
@media (max-width: 640px) {
  /* line 250, application.scss */
  article h1 {
    font-size: 18px;
    line-height: 1.11111;
  }
}
@media (min-width: 641px) {
  /* line 250, application.scss */
  article h1 {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

/* line 255, application.scss */
article h2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  font-weight: 600;
}
@media (max-width: 640px) {
  /* line 255, application.scss */
  article h2 {
    font-size: 20px;
    line-height: 1.2;
  }
}
@media (min-width: 641px) {
  /* line 255, application.scss */
  article h2 {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}
